<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoguang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,0},{312,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,254}}</string>
                <key>sourceSize</key>
                <string>{312,254}</string>
            </dict>
            <key>baoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,241},{331,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,255}}</string>
                <key>sourceSize</key>
                <string>{331,255}</string>
            </dict>
            <key>baoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{344,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,241}}</string>
                <key>sourceSize</key>
                <string>{344,241}</string>
            </dict>
            <key>baoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{355,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,248}}</string>
                <key>sourceSize</key>
                <string>{355,248}</string>
            </dict>
            <key>baoxiangguangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,254},{179,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,144}}</string>
                <key>sourceSize</key>
                <string>{179,144}</string>
            </dict>
            <key>chutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,384},{132,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,151}}</string>
                <key>sourceSize</key>
                <string>{132,151}</string>
            </dict>
            <key>huoxing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>huoxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,429},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>huoxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>huoxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,326},{146,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,103}}</string>
                <key>sourceSize</key>
                <string>{146,103}</string>
            </dict>
            <key>huoxing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{164,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,104}}</string>
                <key>sourceSize</key>
                <string>{164,104}</string>
            </dict>
            <key>huoxing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,398},{174,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,104}}</string>
                <key>sourceSize</key>
                <string>{174,104}</string>
            </dict>
            <key>huoxing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,248},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>jinbaoxiangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,429},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{114,118}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>jinbaoxiangkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,254},{130,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{130,158}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chutou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302d9e5acb048835131329a91e41d9ad$</string>
            <key>textureFileName</key>
            <string>chutou.png</string>
        </dict>
    </dict>
</plist>
