<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinyulongshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,542}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{660,542}}</string>
                <key>sourceSize</key>
                <string>{660,544}</string>
            </dict>
            <key>yanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{224,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,57}}</string>
                <key>sourceSize</key>
                <string>{224,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordboss_jin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e3fec8a61ca8afb313e3aae977d3f22:1/1$</string>
            <key>textureFileName</key>
            <string>wordboss_jin.png</string>
        </dict>
    </dict>
</plist>
