<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanxinglizi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{429,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,26}}</string>
                <key>sourceSize</key>
                <string>{429,26}</string>
            </dict>
            <key>zhanxinglizi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{415,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,26}}</string>
                <key>sourceSize</key>
                <string>{415,26}</string>
            </dict>
            <key>zhanxinglizi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{398,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,26}}</string>
                <key>sourceSize</key>
                <string>{398,26}</string>
            </dict>
            <key>zhanxinglizi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{389,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,26}}</string>
                <key>sourceSize</key>
                <string>{389,26}</string>
            </dict>
            <key>zhanxinglizi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{375,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,26}}</string>
                <key>sourceSize</key>
                <string>{375,26}</string>
            </dict>
            <key>zhanxinglizi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{457,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,26}}</string>
                <key>sourceSize</key>
                <string>{457,26}</string>
            </dict>
            <key>zhanxinglizi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{461,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,26}}</string>
                <key>sourceSize</key>
                <string>{461,26}</string>
            </dict>
            <key>zhanxinglizi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{452,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,26}}</string>
                <key>sourceSize</key>
                <string>{452,26}</string>
            </dict>
            <key>zhanxinglizi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{451,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,26}}</string>
                <key>sourceSize</key>
                <string>{451,26}</string>
            </dict>
            <key>zhanxinglizi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{440,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,26}}</string>
                <key>sourceSize</key>
                <string>{440,26}</string>
            </dict>
            <key>zhanxinglizi_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{426,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,26}}</string>
                <key>sourceSize</key>
                <string>{426,26}</string>
            </dict>
            <key>zhanxinglizi_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{465,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,26}}</string>
                <key>sourceSize</key>
                <string>{465,26}</string>
            </dict>
            <key>zhanxinglizi_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{466,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,26}}</string>
                <key>sourceSize</key>
                <string>{466,26}</string>
            </dict>
            <key>zhanxinglizi_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{454,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,26}}</string>
                <key>sourceSize</key>
                <string>{454,26}</string>
            </dict>
            <key>zhanxinglizi_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{442,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,26}}</string>
                <key>sourceSize</key>
                <string>{442,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanxinglizi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e95f358dcc1738fe18a813bc8b7a83c6$</string>
            <key>textureFileName</key>
            <string>zhanxinglizi.png</string>
        </dict>
    </dict>
</plist>
