<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanxingckjl_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,198},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>zhanxingckjl_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,202},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>zhanxingckjl_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>zhanxingckjl_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>zhanxingckjl_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>zhanxingckjl_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{112,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,100}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>zhanxingckjl_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>zhanxingckjl_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{112,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,94}}</string>
                <key>sourceSize</key>
                <string>{112,94}</string>
            </dict>
            <key>zhanxingckjl_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,94},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>zhanxingckjl_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,96},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>zhanxingckjl_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>zhanxingckjl_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>zhanxingckjl_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,404},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>zhanxingckjl_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,298},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>zhanxingckjl_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,398},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanxingckjl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c709e9ac967e9608e17c0d8d46498196$</string>
            <key>textureFileName</key>
            <string>zhanxingckjl.png</string>
        </dict>
    </dict>
</plist>
